
.hero{
     height: 70vh; 
     background:url('../../assets/imgs/categories/city/large/city-status-01.jpg') top  /cover ; 
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--big-title); 
       margin-bottom: 30px;
        @media screen and (max-width: 480px) { 
          height: 40vh;
        } 



        
}


.heroContainer{
      background-color: #171f2bc7; 
      padding:30px;
      border-radius: 5px;
         @media screen and (max-width: 480px) { 
          height: auto;
          position: relative;
          
     }
  

}


h1{
            font-size: clamp(1rem, -0.875rem + 8.333vw, 2.5rem);
            line-height: 1.2;
            margin-bottom: 30px;
            max-width: 570px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-inline: 1em;
            text-align: center;
            color: #ffffffd7;;

                .break-point{
                    display: block;
                }
}






