.navbarHeader{

    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    margin: auto; 
    height: 71px;
    padding-inline:1.5em;   
    position: relative; 
     *{
       color: #fffffff5;
   }
    @media screen and (max-width:480px) {
       padding-inline:1em;  
   }


        
}
 
 .navMenu{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   font-weight: 500;
   font-size: 1.2rem; 
   border:none;
     
     @media screen and (max-width: 768px) {  
      display: none; 
   }

   a{ 
        transition: .3s ease;
        font-size: 1rem; 
      
        &:hover{
             opacity: .4;
        }
    }


 } 



 header .container{
    position: relative;   
   
    
 }
 

 .logo{
   font-size: clamp(1rem, -0.875rem + 8.333vw, 2.5rem);
   font-weight: 700;
    color: #fffffff5;
 }


 
